@model StudentApp.Models.classroom


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<ul class="nav nav-tabs">
    <li class="active"><a href="../../Classroom/Index">Classrooms</a></li>
    <li><a href="../Classroom/Create">Create New</a></li>

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Locations
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="../Classroom/view2">Pubudu Institute</a></li>
            <li><a href="../Classroom/view3">Sipsewana Institute</a></li>

        </ul>
    </li>
    <li><a href="../../Allocation/Index">Allocations</a></li>
</ul>




<div class="row">

    <div class="form-horizontal">
        <h4>Classroom</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <Label class="control-label col-md-2">Maximum</Label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.max)
            </dd>

            <dt>
                <Label class="control-label col-md-2">Minimum</Label>

            </dt>

            <dd>
                @Html.DisplayFor(model => model.min)
            </dd>

            <dt>
                <Label class="control-label col-md-2">Location</Label>

            </dt>

            <dd>
                @Html.DisplayFor(model => model.location)
            </dd>

            <dt>
                <Label class="control-label col-md-2">Name</Label>


            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                <Label class="control-label col-md-2">Ac/Non</Label>

            </dt>

            <dd>
                @Html.DisplayFor(model => model.ac_nonac)
            </dd>

        </dl>
    </div>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>