@model IEnumerable<StudentApp.Models.classroom>


@{
    ViewBag.Title = "Index";
}

<h2>Classrooms</h2>

<ul class="nav nav-tabs">
    <li class="active"><a href="../Classroom/Index">Classrooms</a></li>
    <li><a href="../Classroom/Create">Create New</a></li>

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Locations
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="../Classroom/view2">Pubudu Institute</a></li>
            <li><a href="../Classroom/view3">Sipsewana Institute</a></li>

        </ul>
    </li>
    <li><a href="../Allocation/Index">Allocations</a></li>
</ul>

<!--
<p>
    @Html.ActionLink("Create New", "Create") |  @Html.ActionLink("Show All", "Index") |  @Html.ActionLink("Pubudu ", "view2")  |  @Html.ActionLink("Sipsewana ", "view3") | @Html.ActionLink("Allocations", "../Allocation/index")
</p>
</p>
-->
<div class="row">
    <div class="col-sm-3 col-md-5">

        <p>
            @using (Html.BeginForm("Index", "Classroom/Index", FormMethod.Get))
            {
                <h3>Search</h3>

            <p>
                Location:
                @Html.DropDownList("Location", null, new { @class = "form-control" })
            </p>
            <p>
                Floor: (Ex:P0,P1..) @Html.TextBox("F_Name", null, new { @class = "form-control" })
            </p>
            <p>
                Name: (Ex:P11,P12..) @Html.TextBox("C_Name", null, new { @class = "form-control" })
            </p>
            <p>
                Ac/Non:
                @Html.TextBox("AcNon", null, new { @class = "form-control" })
            </p>

            <p>
                <button type="submit" class="btn btn-primary mb-2" value="Filter">Filter</button>
            </p>
        }
           
        </div>
        <div class="col-sm-3 col-md-7">

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.class_id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.max)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.min)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.location)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ac_nonac)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.class_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.max)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.min)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ac_nonac)
                        </td>

                        <td>

                            @Html.ActionLink("Edit", "Edit", new { id = item.class_id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.class_id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.class_id })
                        </td>

                    </tr>
                }

            </table>

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

        </div>
    </div>