@model StudentApp.Models.Allocation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<ul class="nav nav-tabs">
    <li><a href="../../Classroom/Index">Classrooms</a></li>
    <li><a href="../../Allocation/Create">New Allocation</a></li>

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Locations
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="../Classroom/view2">Pubudu Institute</a></li>
            <li><a href="../Classroom/view3">Sipsewana Institute</a></li>

        </ul>
    </li>
    <li class="active"><a href="../../Allocation/Index">Allocations</a></li>
</ul>


<div>
    <br>

    <!--
      <div class="form-horizontal">
          <h4>Allocation</h4>
          <hr />
          <dl class="dl-horizontal">
              <dt>
                  <Label class="control-label col-md-2">Day</Label>
              </dt>
              <dd>
                  @Html.DisplayFor(model => model.day)
              </dd>

              <dt>
                  <Label class="control-label col-md-2">Start Time</Label>
              </dt>

              <dd>
                  @Html.DisplayFor(model => model.start_time)
              </dd>

              <dt>
                  <Label class="control-label col-md-2">End Time</Label>
              </dt>

              <dd>
                  @Html.DisplayFor(model => model.end_time)
              </dd>

              <dt>
                  <Label class="control-label col-md-2">No.of Students</Label>
              </dt>

              <dd>
                  @Html.DisplayFor(model => model.no_of_students)
              </dd>

              <dt>
                  <Label class="control-label col-md-2">Teacher id</Label>
              </dt>

              <dd>
                  @Html.DisplayFor(model => model.t_id)
              </dd>

              <dt>
                  <Label class="control-label col-md-2"> Class id</Label>
              </dt>

              <dd>
                  @Html.DisplayFor(model => model.class_id)
              </dd>

              <dt>
                  <Label class="control-label col-md-2">Subject id</Label>
              </dt>

              <dd>
                  @Html.DisplayFor(model => model.sub_id)
              </dd>

          </dl>
      </div>

    -->

    <table class="table">
        <tr>
            <th>
                Allocation Id
            </th>
            <th>
                Day
            </th>
            <th>
                Start Time
            </th>
            <th>
                End Time
            </th>
            <th>
                No.of Students
            </th>
            <th>
                Teacher id
            </th>
            <th>
                Class id
            </th>
            <th>
                Subject id
            </th>

            <th></th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.ca_id)
            </td>
            <td>
                @Html.DisplayFor(model => model.day)
            </td>
            <td>
                @Html.DisplayFor(model => model.start_time)
            </td>
            <td>
                @Html.DisplayFor(model => model.end_time)
            </td>
            <td>
                @Html.DisplayFor(model => model.no_of_students)
            </td>
            <td>
                @Html.DisplayFor(model => model.t_id)
            </td>
            <td>
                @Html.DisplayFor(model => model.class_id)
            </td>
            <td>
                @Html.DisplayFor(model => model.sub_id)
            </td>


        </tr>

    </table>


    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>