@model IEnumerable<StudentApp.Models.Allocation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Allocations</h2>


<ul class="nav nav-tabs">
    <li><a href="../Classroom/Index">Classrooms</a></li>
    <li><a href="../Allocation/Create">New Allocation</a></li>

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Locations
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="../../Classroom/view2/18">Pubudu Institute</a></li>
            <li><a href="../../Classroom/view3">Sipsewana Institute</a></li>

        </ul>
    </li>
    <li class="active"><a href="../Allocation/Index">Allocations</a></li>
</ul>

<div class="row">
    <div class="col-sm-3 col-md-6">




        @using (Html.BeginForm("Index", "Allocation/Index", FormMethod.Get))
        {
            <h3>Search</h3>

            <p>
                Day: @Html.TextBox("Day", null, new { @class = "form-control" })
            </p>
            <p>
                Start Time: @Html.TextBox("S_Time", null, new { @class = "form-control" })
            </p>
            <p>
                End Time: @Html.TextBox("E_Time", null, new { @class = "form-control" })
            </p>
            <p>
                Class id: @Html.TextBox("C_id", null, new { @class = "form-control" })
            </p>

            <p>
                <button type="submit" class="btn btn-primary mb-2" value="Filter">Filter</button>
            </p>
        }




    </div>

    <div class="col-sm-3 col-md-6">

        <table class="table">
            <tr>
                <th>
                    Allocation Id
                </th>
                <th>
                    Day
                </th>
                <th>
                    Start Time
                </th>
                <th>
                    End Time
                </th>
                <th>
                    No.of Students
                </th>
                <th>
                    Teacher id
                </th>
                <th>
                    Class id
                </th>
                <th>
                    Subject id
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ca_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.day)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.start_time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.end_time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.no_of_students)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.t_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.class_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sub_id)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ca_id })
                        @Html.ActionLink("Details", "Details", new { id = item.ca_id })
                        @Html.ActionLink("Delete", "Delete", new { id = item.ca_id })
                    </td>
                </tr>
            }

        </table>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
