@model StudentApp.Models.Invoice

@{
    ViewBag.Title = "DeleteInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>  <!--  Chart JS -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/FinanceCommon.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway:400,700&display=swap" rel="stylesheet">
</head>




<body style="background-color:white;">


    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active">
                                <span> Overview </span>

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <span> @Html.ActionLink("Income", "Income") </span>

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <span>  @Html.ActionLink("Expenses", "Expenses") </span>

                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">
                                <span>  @Html.ActionLink("Invoices", "Invoices") </span>

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <span>  @Html.ActionLink("Taxes", "Taxes") </span>

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <span>  @Html.ActionLink("Bills", "Bill") </span>

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <span>  @Html.ActionLink("EPF/ETF", "EPF_ETF") </span>

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <span>  @Html.ActionLink("Income", "Income") </span>

                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <!-- End Of The Side Nav -->
    <!-- Start of Web Content-->




    <h3 style="margin-left:12%;">Are you sure you want to delete this?</h3>
    <div style="margin-left:12%;">
        <h4>Invoice</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.from)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.from)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.amount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.amount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Invoices")
            </div>
        }
    </div>

    </body>
</html>
